.overlay {
  position: fixed;
  inset: 0;
  z-index: 7;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 500ms ease,
    backdrop-filter 500ms ease,
    background-color 500ms ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.52);
}

.overlay.overAll {
  z-index: 998;
}
