.customSelect {
  position: relative;
}

.customSelectTrigger {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;

  background-color: var(--color-bg-tertiary);
}

.customSelect.open .customSelectOptions {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.customSelectOptions {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  background-color: var(--color-bg-primary);
  /* background-color: gray; */
  /* border: 1px solid var(--color-bg-tertiary); */
  border: 1px solid var(--color-border);
  border-radius: 12px;
  overflow-y: auto;
  max-height: 272px;
  padding: 14px 0;
  padding-right: 8px;
  background-clip: content-box;
  margin: 0;
  /* opacity: 0; */
  pointer-events: auto;
  /* ? */
  transform: translateY(-10px);
  transition:
    opacity 250ms ease,
    translateY 250ms ease;
}

.customSelectItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  padding: 4px 18px;
  cursor: pointer;
  user-select: none;

  color: var(--color-text-secondary);

  transition: background-color 250ms ease;
}

.customSelectItem:hover {
  background-color: var(--color-bg-tertiary);
}

.customSelectItem.selected {
  color: var(--color-text-primary);
}

.customSelectOptions::-webkit-scrollbar {
  /* border-radius: 10px; */
  width: 8px;
  /* height: 128px; */
  /* background-color: blueviolet; */
}

.customSelectOptions::-webkit-scrollbar-track {
  /* background-color: blueviolet; */
  /* padding: 12px 8px; */
  margin: 12px 0;
  /* margin-right: 8px; */
}

.customSelectOptions::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
}
