.customSelect {
  /* position: relative; */
}

.customSelectTrigger {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;

  background-color: var(--color-bg-tertiary);
}

.customSelect.open .customSelectOptions {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.customSelectOptionsContainer {
  /* border: 1px solid var(--color-bg-tertiary); */
  border: 1px solid black;
  border-radius: 12px;
  position: relative;
  height: 272px;
  width: 204px;
  /* padding-right: 8px; */
  margin-top: 4px;
}

.customSelectOptions {
  position: absolute;
  top: 5px;
  left: 0;
  width: calc(100% - 8px); /* scrollbar right gap */
  background-color: var(--color-bg-primary);
  /* background-color: gray; */
  /* border: 1px solid var(--color-bg-tertiary); */
  /* border: 1px solid var(--color-border); */
  border-radius: 12px;
  overflow-y: auto;
  height: 100%;
  padding: 10px 0;
  /* padding-right: 8px; */
  margin: 0;
  margin-top: 4px;
  background-clip: content-box;
  /* opacity: 0; */
  pointer-events: auto;
  /* ? */
  transform: translateY(-10px);
  transition:
    opacity 250ms ease,
    translateY 250ms ease;
}

.customSelectItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  padding: 4px 18px;
  cursor: pointer;
  user-select: none;

  color: var(--color-text-secondary);

  transition: background-color 250ms ease;
}

.customSelectItem:hover {
  background-color: var(--color-bg-tertiary);
}

.customSelectItem.selected {
  color: var(--color-text-primary);
}

.customSelectOptions::-webkit-scrollbar {
  width: 8px;
}

.customSelectOptions::-webkit-scrollbar-track {
  margin: 12px 0;
  /* margin-right: 8px; */
}

.customSelectOptions::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
}
