.catalogContainer {
  padding-bottom: 124px;
  position: relative;
}

.filtersContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;
  padding-top: 84px;
}

.filtersList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 752px;
}

.filterItem {
}

.selectTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-text-secondary);

  margin-bottom: 8px;
}

.loadMoreBtn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  display: block;
  border: 1px solid var(--color-accent);
  border-radius: 12px;
  padding: 12px 38px;
  margin: 0 auto;
  margin-top: 80px;
  background-color: transparent;

  transition: border-color 250ms ease;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border-color: var(--color-hover);
}

.loaderContainer {
  /* position: absolute; */
  margin-top: 80px;
}
