.inputsBlock {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  width: 320px;
  border-radius: 12px;
  background-color: var(--color-bg-tertiary);
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4.5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  padding: 12px 24px;
  width: 160px;
}

.input {
  border: none;
  background-color: transparent;
  width: 88px;
  outline: none;
  /* text-align: left; */
}

.divider {
  height: 44px;
  width: 1px;
  background-color: var(--color-border);
}
